form {
  width: 100%;
  position: relative;
}

input {
  width: 100%;
  background-color: #231539;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #dbdbdb;
  font-size: 16px;
  padding: 0px 60px;
}

.invalid {
  border: 1.5px solid #ec3855;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgb(150, 150, 150);
}

.link {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 40px;
  height: 40px;
}

button {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
}

button img {
  width: 40px;
  height: 40px;
}

@media (max-width: 468px) {
  input {
    height: 50px;
    padding: 0px 50px;
    font-size: 14px;
  }
  .link {
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
  }

  button {
    top: 8px;
    right: 10px;
  }

  button img {
    width: 35px;
    height: 35px;
  }
}
